<div class="field">
  <%= f.label :name, "Company Name" %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :url, "Company Website" %>
  <%= f.text_field :url %>
</div>

<div class="field">
  <%= f.label :twitter, "Company Twitter Handle" %>
  <%= f.text_field :twitter %>
</div>

<div class="field">
  <%= f.label :description, "Company Description<br>(for member list)".html_safe %>
  <%= f.text_area :description %>
</div>

<div class="field">
  <%= f.label :logo_url, "Company Logo URL<br>(for member list)".html_safe %>
  <%= f.text_field :logo_url %>
</div>

<div class="field">
  <%= f.label :contact_name, "Contact Person Name" %>
  <%= f.text_field :contact_name %>
</div>

<div class="field">
  <%= f.label :contact_phone, "Contact Person Phone #" %>
  <%= f.text_field :contact_phone %>
</div>

<div class="field">
  <%= f.label :contact_email, "Contact Person Email" %>
  <%= f.text_field :contact_email %>
</div>
