<p>Hello! Your <%= @membership.shortname %> membership with Ruby Together is <%= @membership.status %>.</p>

<%- if @membership.active? -%>
<p>
  <%- if @membership.name -%>
    You are credited on our <%= link_to "members page", members_path %> as &ldquo;<%= @membership.name %>&rdquo;.
  <%- else -%>
    You are not credited on our <%= link_to "members page", members_path %>. If you'd like to be credited, add your name below.
  <%- end -%>
</p>
<%- end -%>
