<%- title "update membership" -%>

<%= form_for @membership, url: membership_path do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= fields_for @membership.user do |ff| %>
  <div class="field">
    <%= ff.label :email %>
    <%= ff.text_field :email %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Save Changes" %>
  </div>
<% end %>

<p>Monthly membership dues of <%= number_to_currency @membership.dollar_amount %> will be charged to your <%= @membership.card_brand %> ending in <%= @membership.card_last4 %>. To change the card we will charge, <%= link_to_card_form "update your payment information", @membership %>.</p>

<p>You can also <%= link_to "cancel your membership", membership_path, method: :delete, alert: "Are you sure you want to cancel your membership?" %>.</p>

<%- content_for :script do -%>
  <%= javascript_include_tag "https://checkout.stripe.com/checkout.js" %>
  <%= javascript_include_tag "subscribe" %>
<%- end -%>
