<%- title "Update Membership" -%>

<%= form_for @membership, url: membership_path do |f| %>
  <% if @membership.corporate? %>
    <%= render "corporate_fields", f: f %>
  <% else %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  <% end %>

  <%= fields_for @membership.user do |uf| %>
  <div class="field">
    <%= uf.label :email %>
    <%= uf.text_field :email %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Save Changes" %>
  </div>
<% end %>

<%- if @membership.card_last4 -%>
  <p>Monthly membership dues of <%= number_to_currency @membership.dollar_amount %> will be charged to your <%= @membership.card_brand %> ending in <%= @membership.card_last4 %>. To change the card we will charge, <%= link_to_card_form "update your payment information", @membership %>.</p>
<%- else -%>
  <p>You have no payment information stored. You can <%= link_to_card_form "update your payment information", @membership %>.</p>
<%- end -%>

<%- content_for :script do -%>
  <%= javascript_include_tag "https://checkout.stripe.com/checkout.js" %>
  <%= javascript_include_tag "subscribe" %>
<%- end -%>
