<%- title "update membership" -%>

<%= form_for @membership, url: membership_path do |f| %>
  <div class="form-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= fields_for @membership.user do |ff| %>
  <div class="form-field">
    <%= ff.label :email %>
    <%= ff.text_field :email %>
  </div>
  <% end %>

  <%= f.submit "Save" %>
<% end %>
