<%- title "Ruby Together<br>Corporate Membership".html_safe -%>

<%= form_for @membership, url: membership_path, html: {"data-membership" => true} do |f| %>
  <%= render "corporate_fields", f: f %>

  <div class="actions">
    <p>
      Finally, add your<br>
      <%= link_to_plan "payment information →", :corporate %>
    </p>
  </div>
<% end %>

<%- content_for :script do -%>
  <%= javascript_include_tag "https://checkout.stripe.com/checkout.js" %>
  <%= javascript_include_tag "subscribe" %>
<%- end -%>
