<%- title "Ruby Together<br>Corporate Membership".html_safe -%>

<p>
  Thanks for your interest in a corporate membership! You can read about how Ruby Together is <%= link_to "good for companies", companies_path %>, view the <%= link_to "membership prospectus", "/prospectus.pdf" %>, or join immediately by filling out the form below.
</p>

<br>
<%= form_for @membership, url: membership_path, html: {"data-membership" => true} do |f| %>
  <%= render "corporate_fields", f: f %>

  <div class="field">
    <p>Your membership level:</p>
    <p>
      100+ developers<br>
      $5,000 per month<br>
      <%= link_to_plan "Ruby Member →", :corporate_ruby %>
    </p>
    <p>
      50+ developers<br>
      $2,000 per month<br>
      <%= link_to_plan "Sapphire Member →", :corporate_sapphire %>
    </p>
    <p>
      10+ developers<br>
      $800 per month<br>
      <%= link_to_plan "Emerald Member →", :corporate %>
    </p>
    <p>
      1-10 developers<br>
      $200 per month<br>
      <%= link_to_plan "Topaz Member →", :corporate_topaz %>
    </p>
  </div>
<% end %>
