<%- title "your membership" -%>

<section class="group">
  <% if @membership.friend? %>
    <%= render "friend_status" %>
  <% else %>
    <%= render "member_status" %>
  <% end %>

  <%- if @membership.card_last4 -%>
    <p><%= @membership.friend? ? "A monthly charge" : "Monthly membership dues" %> of <%= number_to_currency @membership.dollar_amount %> will be charged to your <span class="card-info"><%= @membership.card_brand %> ending in <%= @membership.card_last4 %></span>. To change the card we will charge, <%= link_to_card_form "update your payment information", @membership %>.</p>
  <%- else -%>
    <p>You have no payment information stored. You can <%= link_to_card_form "update your payment information", @membership %>.</p>
  <%- end -%>
</section>

<section class="group">
  <%= form_for @membership, url: membership_path do |f| %>
    <% if @membership.corporate? %>
      <%= render "corporate_fields", f: f %>
    <% else %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
    <% end %>

    <%= fields_for @membership.user do |uf| %>
    <div class="field">
      <%= uf.label :email %>
      <%= uf.text_field :email %>
    </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Save Changes" %>
    </div>
  <% end %>
</section>

<p>You can also <%= link_to "log out", destroy_user_session_path, method: :delete %>. For help with anything else, <%= contact_us %>.</p>
