<%- title "your membership" -%>

<p>Hello! Your <%= @membership.kind %> membership with Ruby Together is <%= @membership.status %>.</p>

<%- if @membership.active? -%>
<p>
  <%- if @membership.name -%>
    You are credited on our <%= link_to "members page", members_path %> as &ldquo;<%= @membership.name %>&rdquo;.
  <%- else -%>
    You are not credited on our <%= link_to "members page", members_path %>. If you'd like to be credited, <%= link_to "add your name", edit_membership_path %>.
  <%- end -%>
<p>
<%- end -%>

<p><%= link_to "Update your information", edit_membership_path %> to change your name, email address, or billing information. For help with anything else, <%= contact_us %>.</p>
