<%- title "your membership" -%>

<p>Hello! You are <%= @membership.kind_name %> of Ruby Together, and your membership is currently <%= @membership.status %>.</p>

<p>
  <%- if @membership.name -%>
    You <%= @membership.active? ? "are" : "will be" %> credited on our <%= link_to "members page", members_path %> as "<%= @membership.name %>".
  <%- else -%>
    You are not credited on our <%= link_to "members page", members_path %>. If you'd like to be credited, <%= link_to "add your name", edit_membership_path %>.
  <%- end -%>
<p>

<p><%= link_to "Update your membership", edit_membership_path %> to change your name, email address, or billing information. For help with anything else, <%= contact_us %>.</p>
