<%- title "your membership" -%>

<section class="group">
  <% if @membership.friend? %>
    <%= render "friend_status" %>
  <% else %>
    <%= render "member_status" %>
  <% end %>

  <%- if @membership.active? && @membership.card_last4 -%>
    <%= render "payment_info" %>
  <% end %>
</section>

<section class="group">
  <%= form_for @membership, url: membership_path do |f| %>
    <% if @membership.corporate? %>
      <%= render "corporate_fields", f: f %>
    <% else %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
    <% end %>

    <%= fields_for @membership.user do |uf| %>
    <div class="field">
      <%= uf.label :email %>
      <%= uf.text_field :email %>
    </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Save Changes" %>
    </div>
  <% end %>
</section>

<section>
  <p>
    You can also
    <%- if @membership.cancelled? -%>
      <%= link_to "log out", destroy_user_session_path, method: :delete %>.
    <%- else -%>
      <%= link_to "log out", destroy_user_session_path, method: :delete %>
      or <%= link_to "cancel your membership", membership_path, method: :delete %>.
    <%- end -%>
  </p>
  <p>For help with anything else, <%= contact_us %>.</p>
</section>
