<% if @plan == "friend" %>
<h1 class="center">Thanks</h1>

<p class="lead">We appreciate your support.</p>

<p>Your subscription as a friend of Ruby Together will be charged automatically every month, and we'll send another email with the receipt for your first payment.</p>

<p>Ruby Together is a trade association, not a charity, so your contribution is probably not tax-deductible. (Ask your accountant to be sure, though. YMMV.)
</p>

<p>If you want to change your name or email address, you can <%= link_to "manage your membership", membership_url(token: @token) %>.</p>

<p class="center"><b>Keep the momentum going by <%= joined_tweet_link "tweeting" %> or <%= joined_mail_link "emailing" %> your Ruby friends about Ruby Together!</b></p>

<% else %>
<h1 class="center">welcome!</h1>

<p class="lead">Thanks for joining Ruby Together.</p>

<p>Now that you're officially a member, there are a few things you should know.</p>

<ul>
  <li>In order to be credited in our <%= link_to "list of members", members_url %>, fill in your name on the <%= link_to "manage your membership", membership_url(token: @token) %> page.</li>

  <li>Your membership dues will be charged automatically every month, and we'll send you an email receipt for each payment. (You'll get your first receipt any moment now.)</li>

  <li>Ruby Together is a 501(c)(6) non-profit organization, and membership dues are tax-deductible by anyone using Ruby for their business. (Ask your accountant to be sure, especially if you live outside the US.)</li>

  <li>You'll automatically receive monthly progress updates as part of your membership benefits, but you can unsubscribe anytime without canceling your membership.</li>
</ul>

<span class="center"><b>Keep the momentum going by <%= joined_tweet_link "tweeting" %> or <%= joined_mail_link "emailing" %><br> your Ruby friends about Ruby Together!</b></span>
<% end %>
