<section id="faq" class="group">
  <h2>FAQ</h2>

  <p class="callout">Who is Ruby Together paying?</p>

  <p>Expert Ruby developers that the community knows and trusts, with a years-long track record of improving these tools. Our entire team is listed on the <%= link_to "team page", team_path %>.</p>

  <p class="callout">How will my money be spent?</p>

  <p>As a member, you'll vote directors on to the Ruby Together <%= link_to "board of directors", team_path(anchor: "board") %> every year. The board members you vote for will decide which projects to fund. Our current projects are listed on the <%= link_to "roadmap", roadmap_path(anchor: "upcoming-projects") %>.</p>

  <p class="callout">Will this be a Ruby fundraising disaster?</p>

  <p>We're completely open about the projects that we're working on, and the progress that we've made so far. Unlike other fundraisers, we take funds and post <%= link_to "public updates", news_index_path %> every single month. If at any time you don't think our work is worth your money, you can stop supporting it. Easy peasy.</p>

  <%= content_for :corporate_faq %>

  <p class="callout">What about Ruby Central?</p>

  <p>Ruby Together and <%= link_to "Ruby Central", "http://rubycentral.org" %> work together to support the Ruby community via <%= link_to "the RubyGems partnership", rubygems_path %>.

  <p class="callout">Are contributions tax deductible?</p>

  <p>Yes, membership dues should be tax deductible as long as you use Ruby as part of your business. Check with your accountant to be sure, and let them know that Ruby Together is a 501(c)(6) non-profit trade association.</p>
</section>
