<section id="faq" class="group">
  <h2>FAQ</h2>

  <p class="callout">Who is Ruby Together paying?</p>

  <p>Expert Ruby developers that the community knows and trusts, with a years-long track record of improving these tools. Our entire team is listed on the <%= link_to "team page", team_path %>.</p>

  <p class="callout">How will my money be spent?</p>

  <p>As a member, you'll vote directors on to the Ruby Together <%= link_to "board of directors", team_path(anchor: "board") %> every year. The board members you vote for will decide which projects to fund. Our current projects are listed on the <%= link_to "roadmap", roadmap_path(anchor: "upcoming-projects") %>.</p>

  <p class="callout">How will we know what's happened with the money?</p>

  <p>We're completely open about the projects that we're working on, and the progress that we've made so far. Unlike other fundraisers, we take funds and post <%= link_to "public updates", news_index_path %> every single month. If at any time you don't think our work is worth your money, you can stop supporting it. Easy peasy.</p>

  <%= content_for :corporate_faq %>

  <p class="callout">What about Ruby Central?</p>

  <p>Ruby Together and <%= link_to "Ruby Central", "http://rubycentral.org" %> work together to support the Ruby community via <%= link_to "the RubyGems partnership", rubygems_path %>. In summary, Ruby Central covers RubyGems.org infrastructure costs, and Ruby Together funds ongoing RubyGems.org development and maintenance.

  <p class="callout">Are contributions tax deductible?</p>

  <p>Yes, membership dues should be tax deductible as long as you use Ruby as part of your business. Check with your accountant to be sure, and let them know that Ruby Together is a 501(c)(6) non-profit trade association.</p>

  <p class="callout">How do I update my account?</p>

  <p>You can change your profile information, change your payment information, or cancel your membership by <%= link_to "logging in to your account", new_user_session_path %>.</p>

  <p class="callout">What about conflicts of interest?</p>

  <p>
    When Ruby Together was created, the board established <%= link_to "company bylaws", bylaws_path %>, including a a <%= link_to "conflict of interest policy", conflict_policy_path %>.
    Anyone who is paid by Ruby Together is not permitted to participate in discussions or votes about their own work, or their own pay. Those decisions are made exclusively by the other board members, in accordance with the conflict of interest policy.
  </p>
  <p>
    To further increase transparency, Ruby Together publishes monthly budget reports, above and beyond the public tax returns required from all US non-profits. With monthly reports, everyone is able to see both how much money was raised and exactly where that money is going.
  </p>
</section>
