<% title "Good For Companies, Too" %>

<p>As a company that builds software with Ruby, your business and its profits rely on the <%= link_to "public infrastructure", projects_path %> of the Ruby language, including <%= rubygems %>, <%= bundler %>, and the <%= rubygems_org %> servers. That infrastructure is critical to the operation of your business, and before Ruby Together, it was maintained entirely by volunteers!</p>

<p>Ruby Together pays our <%= link_to "systems administrators and developers", team_path %> fairly for their work on Ruby infrastructure, ensuring that issues can be resolved as needed rather than <%= link_to "waiting for a volunteer to be awake and have spare time", "http://blog.rubygems.org/2014/08/07/postmortem.html" %>. RubyGems.org downtime keeps your developers from being able to work on your business, a cost much higher than membership dues.</p>

<p>In addition to supporting infrastructure you depend on, membership in Ruby Together means that your engineers will have access to some of <%= link_to "the best Ruby developers", members_path %> in the world. Chances are good your developers would love to chat with the developer of <%= bundler %> about managing dependencies and other problems that you've encountered. Members can do that.</p>

<p>We already have a <%= link_to "specific roadmap", plans_path %> of improvements that will make Ruby better for everyone, including your team. Faster bundling, stable servers, and new features and projects that will increase development speed and security. <%= link_to "Our team", team_path %> has a solid track record of delivering year-over-year improvements to Ruby's <%= link_to "public infrastructure", projects_path %>, and Ruby Together will enable those improvements to continue for years to come.</p>

<p>Corporate membership in Ruby Together provides your development team with the direct benefits of networking opportunities and the indirect benefits of stable, well-maintained Ruby infrastructure. As a 501(c)(6) non-profit, membership dues paid to Ruby Together are usually tax-deductible. Corporate memberships start at just $200 per month, and every level provides special benefits to your company. Learn more by <%= link_to "reading our prospectus", "/prospectus.pdf" %>, then start experiencing those benefits right away by <%= link_to "joining Ruby Together", new_membership_path %>!</p>
