<% title "Put Better Tools In Your Toolbox" %>

<section class="group">
  <p>Companies rely on robust tools to build the best apps possible, but the volunteers who maintain those critical Ruby tools and infrastructure can't keep up in their free time. All too often, individual companies end up paying full-time engineers to privately work around issues shared by the entire Ruby community.</p>

  <p class="callout">Ruby Together offers a better way.</p>

  <p>Development teams should never have to sit idle because of problems that could be prevented by maintenance. Sometimes, the work that couldn't be done culminates in a disaster, like RubyGems.org going down for days.</p>

  <p>Companies shouldn't have to pay full-time developers to work on private solutions to public issues. Ruby Together provides a model where companies can spend more time building great apps, instead of spending time on the tools that make those apps possible.</p>
</section>

<section class="group center">
  <%= link_to "Support Ruby Together's work!", "#plans", class: "solid-button" %>
</section>

<section class="clearfix">
  <p class="callout">When you support Ruby Together, you get:</p>

  <ul>
    <li>Top-notch work on the Ruby tools your developers use, for a miniscule fraction of the costs involved.</li>
    <%= render "member_benefit_items" %>
  </ul>

  <p><%= link_to "Our team", team_path %> has a proven track record of delivering year-over-year improvements to Ruby's <%= link_to "public infrastructure", roadmap_path %>. With funding, we'll transform the tools you use so that they work for you. Like tools should.</p>
</section>

<section id="plans" class="group">
  <% %w(onyx jade topaz emerald sapphire ruby).each do |membership| %>
    <%= render "home/memberships/#{membership}" %>
  <% end %>
</section>

<%= render "ruby_together_is" %>

<% content_for :corporate_faq do %>
  <p class="callout">Why do you limit how much I can give?</p>

  <p>Ruby Together deliberately spreads the costs across many companies so that a single company’s actions can't bring an end to work on the tools everyone shares. If a company decides to stop funding our work, we remain financially solvent and can continue our development work without interruption.</p>

  <p class="callout">Why not hire an internal tools developer?</p>

  <p>You could, but it’s less expensive to outsource your Ruby tool problems to Ruby Together and let us pay expert developers to fix them for everyone. We estimate that if you give $10K each year, you’ll get a 15x ROI (the estimated cost of a full-time developer if you hired your own to work on tooling).</p>
<% end %>

<%= render 'faq' %>

<section class="center">
  <p>
    <%= link_to "Join Ruby Together", companies_path(anchor: "plans"), class: "solid-button" %>
  </p>
</section>
