<% title "Work without workarounds" %>

<section>
  <p>Stop relying on workarounds or waiting for someone to fix shared Ruby tools in their spare time! Ruby Together pays developers to dedicate time to maintaining and improving shared Ruby tools so they work better for everyone.</p>

  <p>We depend on the community to make that dedicated work possible.</p>

  <h4>When you support Ruby Together, you get:</h4>

  <ul>
    <%= render "member_benefit_items" %>
  </ul>

  <p><%= link_to "Our team", team_path %> has a proven track record of delivering year-over-year improvements to Ruby's <%= link_to "public infrastructure", roadmap_path %>. With funding, we'll transform the tools you use so that they work for you. Like tools should.</p>
</section>

<section class="group">
  <section class="join-box" id="plans">
    <p class="title">Developer Membership</p>
    <p class="price"><span class="currency">$</span>40 per month</p>
    <p>Annual vote on Ruby Together board members,</p>
    <p>Monthly newsletter with progress updates,</p>
    <p>Invitation to members-only Slack team for group chat.</p>
    <p class="link"><%= link_to_plan "Become a member!", "individual", class: "solid-button" %></p>
  </section>

  <section class="join-box">
    <p class="title">Friends of Ruby Together</p>
    <p class="price"><span class="currency">$</span>10 per month</p>
    <p>Membership benefits are not included.</p>
    <p class="link"><%= link_to_plan "Be a friend!", "friend", class: "solid-button" %></p>
    <p>
      Or contribute any amount, like say,
      $<%= text_field_tag "one-time-amount", "15", class: "inline", style: "width: 1.2em; padding: 5px 4px 0 4px; margin: -4px 2px 0 0;" %>
      <%= link_to "just this once", "javascript:;", "data-amount-input" => "one-time-amount", "data-charge" => true, "data-charge-name" => "Ruby Together" %>.
    </p>
  </section>
</section>

<%= render "ruby_together_is" %>

<%= render "faq" %>
