<% title "Friends of Ruby Together" %>

<p>Friends of Ruby Together is a way for people who want to support our work to contribute without joining the Ruby Together trade association as a voting member.</p>

<p>While friends of Ruby Together do not receive <%= link_to "member benefits", benefits_path %>, all contributions are used to fund work on Ruby Together's <%= link_to "projects", projects_path %>.</p>

<p><%= link_to_plan "Subscribe for $$ per month", "friend" %> to become a friend of Ruby Together today!</p>

<p>
  If subscriptions aren't your thing, you can contribute any amount, like say $<%= text_field_tag "one-time-amount", "10", class: "inline" %> <%= link_to "just this one time", "javascript:;", "data-amount-input" => "one-time-amount", "data-charge" => true, "data-charge-name" => "Ruby Together" %>.
</p>
