<% content_for :header do %>
  <%= image_tag("rubies.svg", width: "125", class: "home") %>
  <h1 class="home">Ruby Together</h1>
<% end %>

<section>
  <p class="center super-callout">Shared tools should work.</p>

  <p>Stop hoping that volunteers will have free time to maintain the Ruby developer tools that your work depends on.</p>
</section>

<section>
  <ul>
    <li>Community funding allows Ruby Together to pay developers to work on improving <%= link_to "Bundler, RubyGems, and other shared tools", roadmap_path %>.</li>
    <li>The Ruby Together <%= link_to "board of directors", team_path %>, elected by members, selects the most impactful projects to fund.</li>
    <li>Ruby Together publishes <%= link_to "monthly updates", news_index_path %> showing progress and results.</li>
  </ul>
</section>

<section class="clearfix group">
  <p class="quote">Better tooling means ease of use for our engineers and customers. Our engineering and support teams benefit by having things working better at a fast pace, meaning we can provide more to our customer base.</p>
  <p class="attribution">— PJ Hagerty, Community Team Lead at Engine Yard</p>
</section>

<section>
  <p>Support us along with <%= link_to "Engine Yard", "http://engineyard.com" %>, <%= link_to "Stripe", "http://stripe.com" %>, and <%= link_to "many others", members_path %>!</p>
</section>

<%= render "join" %>
