<% content_for :header do %>
  <%= image_tag("rubies.png", width: "250", class: "home") %>
  <h1>Ruby Together</h1>
<% end %>

<p>Ruby Together is dedicated to sustaining and improving the tools and infrastructure of the Ruby programming language.</p>

<p>We pool funds from <%= link_to "corporate and individual members", members_path %> to pay <%= link_to "our team", team_path %> to make <%= link_to "improvements", plans_path %> that benefit everyone who uses Ruby. To start with, we're focusing on the <%= link_to "public infrastructure", projects_path %> of the Ruby language.</p>

<p>As a 501(c)(6) non-profit trade association, Ruby Together is run by a <%= link_to "board of directors", team_path %>. When you join, you'll get a vote in the annual board member election, helping decide how to spend the money we collect.</p>

<p><%= link_to "Join us today", join_path %> and start making a difference in the future of Ruby!</p>
