<% content_for :header do %>
  <%= image_tag("rubies.png", width: "300", class: "home") %>
  <h1>Ruby Together</h1>
<% end %>

<p>Ruby Together combines the power of <%= link_to "our members", members_path %> to support <%= link_to "a team", team_path %> who <%= link_to "maintain and improve", plans_path %> the <%= link_to "tools and services", projects_path %> that Ruby developers use every day. <%= link_to "Join us!", join_path %></p>
