<%- title "Join Ruby Together" -%>

<p>Any person or company that uses Ruby can join Ruby Together by paying the required membership dues. Membership dues fund <%= link_to "our team", team_path %> to <%= link_to "maintain and improve", plans_path %> multiple <%= link_to "tools and services", projects_path %> used by every Ruby developer.</p>

<p>Members get <%= link_to "other benefits", benefits_path %> too, such as recognition on the members page and an invitation to the Ruby Together chat room. Corporate members also get a credit in the release notes of supported projects and during conference talks by supported developers.</p>

<p>Join Ruby Together today as an individual for <%= link_to_plan "$$ per month", "individual" %>, join as a corporation for <%= link_to "$800 per month", new_membership_path %>, or just <%= contact_us %>.</p>

<%- content_for :script do -%>
  <%= javascript_include_tag "https://checkout.stripe.com/checkout.js" %>
  <%= javascript_include_tag "subscribe" %>
<%- end -%>
