<%- title "Join Ruby Together" -%>

<p>Any person or company that uses Ruby can join and receive <%= link_to "members-only benefits", benefits_path %>. Membership dues fund <%= link_to "our team", team_path %> to <%= link_to "maintain and improve", plans_path %> multiple <%= link_to "tools and services", projects_path %> used by every Ruby developer.</p>

<p>Join Ruby Together today as an individual for <%= link_to_plan "$$ per month", Stripe::Plans::INDIVIDUAL %>, join as a corporation for <%= link_to_plan "$$ per month", Stripe::Plans::CORPORATE %>, or just <%= contact_us %>.</p>

<%- content_for :script do -%>
  <%= javascript_include_tag "https://checkout.stripe.com/checkout.js" %>
  <%= javascript_include_tag "subscribe" %>
<%- end -%>
