<%- title "Ruby Together Members" -%>

<h2>Corporate Members</h2>

<% @featured_companies.each do |name, desc, url| %>
  <h3 class="company-name"><%= link_to name, url %></h3>
  <p class="company-description"><%= desc %></p>
<% end %>

<p>
  As well as
  <%= @other_companies.map{|n, u| link_to n, u }.to_sentence.html_safe %>.
</p>

<h2>Individual Members</h2>

<%- @individual << link_to("viewers like you", join_path) -%>
<p>
  Our <%= @individual_count %> <%= "individual member".pluralize(@individual_count) %>
  include <%= @individual.to_sentence.html_safe %>.
</p>
