<%- title "Ruby Together Members" -%>

<p>Corporate members include
  <% @corporate[0...-1].each do |name, desc, url| %>
    <%= link_to name, url %>, <%= desc %>,
  <% end %>
  <%- name, desc, url = @corporate[-1] -%>
  and <%= link_to name, url %>, <%= desc %>.
</p>

<%- @individual << link_to("viewers like you", join_path) -%>
<p>Individual members include <%= @individual.to_sentence.html_safe %>.</p>
