<%- title "Ruby Together Members" -%>

<section class="group">
  <h3>Corporate Members</h3>

  <% @featured_companies.each do |name, desc, url| %>
    <h4 class="company-name"><%= link_to_if url.present?, name, url %></h3>
    <p class="company-description"><%= desc %></p>
  <% end %>

  <p>
    As well as
    <%= @other_companies.map { |name, url| link_to_if(url.present?, name, url) }.to_sentence.html_safe %>.
  </p>

  <p class="center">Didn’t see your company’s name? <%= link_to "Add it!", companies_path %></p>
</section>

<section class="group">
  <h3>Developer Members</h3>
  <%- @individual << link_to("viewers like you", developers_path) -%>
  <p>
    Our <%= @individual_count %> <%= "developer member".pluralize(@individual_count) %>
    include <%= @individual.to_sentence.html_safe %>.
  </p>

  <p class="center">
    <%= link_to "Become a member today!", developers_path, class: "solid-button" %>
  </p>
</section>
