<%- title "Ruby Together Members" -%>

<section class="group">
  <% @featured_levels.each do |name, companies| %>
    <h3><%= name.capitalize %> Members</h3>
    <% companies.each do |name, url, desc| %>
      <h4 class="company-name"><%= link_to_if url.present?, name, url %></h4>
      <p class="company-description"><%= desc %></p>
    <% end %>
  <% end %>

  <% @other_levels.each do |name, companies| %>
    <p>
      Our <%= name %> members include <%= bold_link_sentence(companies) %>.
    </p>
  <% end %>

  <p class="center">Didn’t see your company’s name? <%= link_to "Add it!", companies_path %></p>
</section>

<section class="group">
  <h3>Developer Members</h3>
  <p>
    Our <%= @individual_count %> developer members include <%= @individual.join(", ") %>,
    and <%= link_to("viewers like you", developers_path) %>.
  </p>

  <p class="center">
    <%= link_to "Become a member today!", developers_path, class: "solid-button" %>
  </p>
</section>
