<%- title "Ruby Together Plans" -%>

<h2>New Rubygems Index Format</h2>
<p>The <b>new Rubygems index format</b> has been <%= link_to "talked", "http://www.confreaks.com/videos/2885-rubyconf2013-extreme-makeover-rubygems-edition" %> and <%= link_to "written", "http://andre.arko.net/2014/03/28/the-new-rubygems-index-format/" %> about pretty extensively already. It'll be great. We're working on it.</h3>

<h2>Dependency API reliability</h2>
<p>The Rubygems.org dependency API, used by both Rubygems and Bundler, can be overwhelmed by a large burst of traffic and suffer from a minute or two of downtime as a result. We'd like to fix that by optimizing the API to handle even the largest of bursts.</p>

<h2>Local gem cache server</h2>
<p>The new index format will significantly simplify maintaining a local cache of some or all gems. We plan to build a server that any developer or sysadmin can simply check out and run to provide a local cache for nearby developers or servers.</p>

<h2>The Update Framework</h2>
<p>We want to implement and support <%= link_to "The Update Framework", "http://theupdateframework.com" %> for <%= rubygems_org %>, to protect against a <%= link_to "range of specific attacks", "https://github.com/theupdateframework/tuf/blob/develop/docs/tuf-spec.txt#L121" %> against the reliability and security of installing gems.

<h2>Security Issue Announcements</h2>
<p>We would like make it possible to warn users that they need to upgrade when they are installing a gem version that contains a security vulnerability.</p>

<h2>Other Incremental Improvements</h2>
<p>
  <ul>
    <li>sharing a single dependency resolver between Bundler, Rubygems, and CocoaPods</li>
    <li>releasing Bundler 2.0 with significant improvements to the user experience</li>
    <li>adding a plugin system to Bundler to allow new sources and commands</li>
    <li>gathering and displaying analytics on how Bundler and Rubygems are used</li>
    <li>announcing available security updates when vulnerable gems are installed</li>
  </ul>
</p>

<p>Help us complete these plans by <%= link_to "joining Ruby Together today", join_path %>.</p>
