<% title "Ruby OSS Project Funding" %>

<p class="callout">Nominate your project for funding.</p>

<section class="group">
  <p>Ruby Together funds open source projects on a quarterly basis. We accept project proposals at any time, and once every three months the Ruby Together project committee decides which projects we will fund for the next three months.</p>
</section>

<section class="group">
  <h3 id="requirements">Requirements</h3>

  <p>To be eligible for funding, your project needs to meet a few requirements:</p>

  <ul>
    <li>Your project must be open source</li>
    <li>Your project must benefit the Ruby community</li>
    <li>Your project must have an enforced code of conduct</li>
    <li>If you are not a project maintainer, your proposal needs to already be approved by existing maintainers</li>
  </ul>

</section>

<section class="group">
  <h3 id="how-to-apply">How To Apply</h3>

  <p>Open <%= link_to "the project proposal form", proposal_path %> and fill it out. We ask questions to be able to understand and evaluate the project and your work proposal. It shouldn’t take you more than a few minutes to fill out a proposal (and if it does, please tell us about it so we can fix it!)</p>
</section>

<section class="group">
  <h3 id="work-expectations">Work Expectations</h3>

  <p>Project proposals will be evaluated on outcomes, not on hours worked. We do not expect you to work an exact number of hours, but we are looking for projects that resemble what you might do in three months at a full-time job. When applying, the most important thing is to know how much time you will actually be able to spend, and what meaningful results you can achieve in that time.</p>

  <p>Ruby Together project funding is intended to support work that needs large blocks of concentrated time, or needs a large amount of time, to get done. We are happy to fund both boring work like triage and bugfixes as well as exciting work like creating new tools that have never existed before.</p>
</section>

<section class="group">
  <h3 id="selection-process">Selection process</h3>

  <p>The Ruby Together project selection committee will evaluate proposals based on several criteria:</p>

  <ul>
    <li>Community impact (how much will this proposal benefit the Ruby community as a whole?)</li>
    <li>Project usage (larger, more popular projects are more likely to help more of the community)</li>
    <li>Project plan (a more detailed and specific plan of changes or features is more likely to help the community than “bugfixes and improvements”)</li>
    <li>Member feedback (which proposals are most helpful to Ruby Together’s existing members?)</li>
    <li>Track record (what is the history of the project? what about the history of the person applying?)</li>
  </ul>

  <p>Today, the project committee includes the <%= link_to "board of directors", "https://rubytogether.org/team" %>. Funded projects will be announced in the Ruby Together monthly update each cycle.</p>
</section>

<section class="group">
  <h3 id="project-reports">Project reports</h3>

  <p>Each accepted project will be expected to submit a project report twice per month. Project reports should demonstrate that the work proposed is being accomplished, and will be used to provide updates to Ruby Together’s members. For example project reports, see the Ruby Toolbox section in <%= link_to "Ruby Together’s monthly updates", news_index_path %>.</p>
</section>

<section class="group">
  <h3 id="funding">Funding</h3>

  <p>Accepted proposals will include a total funding amount between $3,000 and $30,000 USD, set by the project committee. The total amount will be paid in three payments, once per month. Each monthly payment will be made after both progress reports for that month have been submitted, and the work has been verified by the Ruby Together team.</p>

  <p>We are able to send payments via international wire and PayPal. We may be able to accommodate other payment methods, although we can’t guarantee it will be possible.</p>
</section>

<section class="group">
  <h3 id="schedule">Schedule</h3>

  <p>Ruby Together reviews proposals and funds projects once every three months. Our yearly funding cycles run from December to February, March to May, June to August, and September to November.</p>

  <p>For example, here is the expected schedule for a February to April funding cycle:</p>

  <ul>
    <li>Nov 1 through Jan 1: proposals for Feb-Apr are open</li>
    <li>Jan 1: Feb-Apr proposals close, May-Jul proposals open</li>
    <li>Jan 15: proposals decisions are sent via email</li>
    <li>Feb 1: project work begins</li>
    <li>Feb 15: first project reports are submitted</li>
    <li>Mar 1: second project reports are submitted, first payment is sent</li>
    <li>Mar 15: third project reports submitted</li>
    <li>Apr 1: fourth project reports, second payment</li>
    <li>Apr 15: fifth project reports</li>
    <li>May 1: projects submit final report, final payment sent</li>
  </ul>
</section>

<section class="group">
  <h3 id="apply-now">Apply now!</h3>

  <p><%= link_to "Submit your application for project funding today", proposal_url %>.</p>

  <p>Feel free to refer to the <%= link_to "example application", example_proposal_path %> as your fill out your application.</p>
</section>

<section class="group">
  <h3 id="support-us">Support us</h3>

  <p>Help us fund Ruby open source projects by signing up for a developer membership or encouraging your company to join as a member.</p>

  <%= render "join" %>
</section>
