<%- title "Ruby Together Projects" -%>

<p><%= bundler %> is the Ruby dependency manager. Used by nearly every Ruby project, Bundler makes it possible to manage and install the same gems in development and deployment. Ruby Together pays André Arko for ongoing maintenance and development work on Bundler.</p>

<p><%= rubygems %> makes it easy to create, use, and manage libraries of Ruby source code. Ruby Together pays André Arko for development and maintenance work on specific features provided by RubyGems.</p>

<p><%= rubygems_org %> is the public repository of Ruby libraries. As half of the <%= link_to "Rubygems Partnership", rubygems_path %>, Ruby Together funds development and operations work by by David Radcliffe.</p>

<p>As funding permits, the board of directors plans to expand the number and scope of the projects that Ruby Together undertakes.</p>

<p>Support our work on these and other Ruby projects by <%= link_to "joining Ruby Together today", join_path %>.</p>
