<% title "Ruby Together roadmap" %>

<p class="center">Take a look at where we're headed.</p>

<section class="group">
  <h3>Focus Areas</h3>

  <p>Today, Ruby Together is committed to improving the three most widely-used core Ruby tools:</p>

  <ul>
    <li><b>Bundler</b>, the Ruby dependency manager, used by every Ruby project to manage and install gems</li>
    <li><b>RubyGems</b>, the code that makes it possible to create gems in the first place</li>
    <li><b>RubyGems.org</b>, the website that provides free hosting for public gems</li>
  </ul>
</section>


<section class="group">
  <h3>Upcoming Projects</h3>

  <p>As time and funding permits, the Ruby Together team will:</p>
  
  <ul>
    <li>Finish rolling out a new gem index that will make installing gems two to ten times faster than today</li>
    <li>Migrate the entire RubyGems.org site to use the Fastly CDN, providing dramitic speed improvements in downloading gems and gem data</li>
    <li>Build a gem caching server to easily allow data centers and offices to store local copies of the gems they need, public or private</li>
    <li>Create a public Ruby ecosystem analytics dashboard, including Ruby version usage, Bundler version usage, and dramatically expanded statistics for each gem</li>
  </ul>
  
  <p>And there will be more! We start new projects based on community need and Ruby Together's available funding.</p>
</section>

<section class="group">
  <h3>Funding Levels</h3>
  
  <section class="progress-bar">
    <section class="progress-bar-entry">
      <p class="amount">$50k+</p>
      <p class="title">Rapid Improvements</p>
      <ul>
        <li>Hire 2nd FT dev to focus on Ruby, Rails, &amp; other projects</li>
      </ul>
    </section>

    <section class="progress-bar-entry">
      <p class="amount">$35-50k</p>
      <p class="title">Steady Improvements</p>
      <ul>
        <li>Hire FT dev to improve gem tools</li>
        <li>Finish the new index project in just a few weeks (3-6 weeks)</li>
        <li>Migrate all of RubyGems.org to use the Fastly CDN (4-8 weeks)</li>
        <li>Build a local gem-caching server for datacenters and offices (4 months)</li>
        <li>Create a public Ruby ecosystem analytics dashboard (1 month)</li>
      </ul>
    </section>

    <section class="progress-bar-entry">
      <p class="amount">$20-35k</p>
      <p class="title">Slow Improvements</p>
      <ul>
        <li>3 devs at 1-2 days per week</li>
        <li>Maintain Bundler, RubyGems, and RubyGems.org</li>
        <li>Continuous improvements, as long as nothing unusual goes wrong</li>
      </ul>
    </section>

    <section class="progress-bar-entry">
      <p class="amount">$10-20k</p>
      <p class="title">Limited Maintenance <span class="callout">(we are <i>almost</i> here!)</span></p>
      <ul>
        <li>2 devs at 5 hours per week</li>
        <li>Maintain Bundler and RubyGems.org</li>
        <li>No maintenance on RubyGems</li>
        <li>Improvements only from volunteers</li>
      </ul>
    </section>

    <section class="progress-bar-entry">
      <p class="amount">$0-10k</p>
      <p class="title">Volunteers</p>
      <ul>
        <li>Maintenance as time permits</li>
        <li>Fixes take days or weeks</li>
        <li>Improvements take months or years</li>
      </ul>
    </section>
  </section>
  
  <p>We have ambitious fundraising goals, and as we hit them we will kick off even bigger projects. We want to merge Bundler and RubyGems to stop bugs due to mismatched versions forever. We also want to expand <%= link_to "RubyBench.org", "http://rubybench.org" %> until it can serve as a full, public benchmork for every commit and version of Ruby and Rails. There's a lot more.</p>
  
  <p>When we hit $35k per month, we'll have someone working on these core tools full time. Once we hit $50k per month, we'll hire a second full-time developer to focus on maintaining and improving Ruby on Rails, as well.</p>
  
  <p>Ruby needs this, <b>and we need your support to do it</b>.</p>
</section>


<section class="group">
  <div class="join-box center">
    <p class="title">Developers</p>
    <p class="link"><%= link_to_plan "Join Ruby Together", "individual" %></p>
    <p class="learn-more"><%= link_to "Learn More", developers_path %></p>
  </div>

  <div class="join-box center">
    <p class="title">Companies</p>
    <p class="link"><%= link_to "Join Ruby Together", companies_path(anchor: "plans") %></p>
    <p class="learn-more"><%= link_to "Learn More", companies_path(anchor: "faq") %></p>
  </div>
</section>
