<% title "Ruby Together roadmap" %>

<p class="callout">Take a look at where we're headed.</p>

<section class="group">
  <h3 id="focus-areas">Focus Areas</h3>

  <p>Today, Ruby Together is committed to improving the three most widely-used core Ruby tools:</p>

  <ul>
    <li><b>Bundler</b>, the Ruby dependency manager, used by every Ruby project to manage and install gems</li>
    <li><b>RubyGems</b>, the code that makes it possible to create gems in the first place</li>
    <li><b>RubyGems.org</b>, the website that provides free hosting for public gems</li>
  </ul>
</section>


<section class="group">
  <h3 id="upcoming-projects">Upcoming Projects</h3>

  <p>As time and funding permits, the Ruby Together team will:</p>

  <ul>
    <li>Roll out a <%= link_to "new gem index", "http://andre.arko.net/2014/03/28/the-new-rubygems-index-format/" %> that will make installing gems two to ten times faster than today</li>
    <li>Migrate all of RubyGems.org to the <%= link_to "Fastly CDN", "http://fastly.com" %>, providing dramatic speed improvements when downloading gems and gem data</li>
    <li>Build a gem caching server to easily allow data centers and offices to cache local copies of the gems they need, whether public or private</li>
    <li>Improve <%= rubygems_org %>, adding search, statistics, and more gem information to every page</li>
  </ul>

  <p>And there will be more! We start new projects based on community need and Ruby Together's available funding.</p>
</section>

<%= render "funding_levels" %>

<%= render "join" %>
