<%- title "Ruby Together Team" -%>

<p>Ruby Together funds ongoing work by <%= link_to "André Arko", "http://twitter.com/indirect" %>, maintaining and developing <%= bundler %>, as well as contributing to <%= rubygems %> and <%= rubygems_org %>.</p>

<p>We also support ongoing work by <%= link_to "David Radcliffe", "http://twitter.com/dwradcliffe" %>, who maintains the servers and develops the application behind <%= rubygems_org %>.</p>

<p>As funding permits, the board of directors plans to expand both the team of developers and the scope of the projects that Ruby Together undertakes.</p>

<p>
  The Ruby Together board of directors is made up entirely of volunteers, and consists of
  <%= link_to "André Arko", "http://twitter.com/indirect" %>,
  <%= link_to "Aaron Patterson", "http://twitter.com/tenderlove" %>,
  <%= link_to "Steve Klabnik", "http://twitter.com/steveklabnik" %>,
  <%= link_to "Sarah Mei", "http://twitter.com/sarahmei" %>,
  <%= link_to "Terence Lee", "http://twitter.com/hone02" %>,
  <%= link_to "Ines Sombra", "http://twitter.com/randommood" %>,
  and <%= link_to "Joel Watson", "http://twitter.com/watsonian" %>.
</p>
