<%- title "Ruby Together Team" -%>

<section class="group">
  <p>Ruby Together funds ongoing work by a team consisting of:</p>

  <ul>
    <li><%= link_to "André Arko", "http://twitter.com/indirect" %>, who maintains and develops <%= bundler %>, as well as contributing to <%= rubygems %> and <%= rubygems_org %>.</li>
    <li><%= link_to "David Radcliffe", "http://twitter.com/dwradcliffe" %>, who maintains and develops <%= rubygems_org %>, as well as the servers that run it.</li>
    <li><%= link_to "Ellen Marie Dash", "http://twitter.com/duckinator" %>, <%= link_to "Kurtis Rainbolt-Greene", "http://twitter.com/krainboltgreene" %>, and <%= link_to "Jeremy Hingardner", "http://twitter.com/copiousfreetime" %>, who together maintain the <%= rubygems %> library and the <code>gem</code> command.</li>
    <li><%= link_to "Samuel E. Giddins", "http://twitter.com/segiddins" %>, who maintains <%= link_to "Molinillo", "https://github.com/CocoaPods/Molinillo" %>, the dependency resolver used by <%= bundler %>, <%= rubygems %>, and <%= link_to "CocoaPods", "https://cocoapods.org" %>, and contributes to each of those projects.</li>
    <li><%= link_to "Lynn Cyrin", "http://twitter.com/lynncyrin" %>, who manages organization, issues, timelines, and updates</li>
  </ul>
</section>

<section class="group">
  <p>The Ruby Together board of directors is made up entirely of volunteers. The board currently includes:</p>

  <ul>
    <li><%= link_to "André Arko", "http://twitter.com/indirect" %></li>
    <li><%= link_to "Steve Klabnik", "http://twitter.com/steveklabnik" %></li>
    <li><%= link_to "Sarah Mei", "http://twitter.com/sarahmei" %></li>
    <li><%= link_to "Terence Lee", "http://twitter.com/hone02" %></li>
    <li><%= link_to "Ines Sombra", "http://twitter.com/randommood" %></li>
    <li><%= link_to "Joel Watson", "http://twitter.com/watsonian" %></li>
    <li><%= link_to "Coraline Ada Ehmke", "http://twitter.com/coralineada" %></li>
  </ul>

  <p>Board alumni include:</p>
  <ul>
    <li><%= link_to "Aaron Patterson", "http://twitter.com/tenderlove" %></li>
  </ul>
</section>

<section class="group">
  <p>Branding and site design are by <%= link_to "Amy Wibowo", "http://sailorhg.com" %>, with copywriting and content strategy by <%= link_to "Rachel Keranen", "http://rachelkeranen.com" %>.</p>
</section>
