<%- title "Ruby Together Team" -%>

<p>
  <%= link_to "André Arko", "http://twitter.com/indirect" %> founded Ruby Together, leads the <%= bundler %> team, and contributes to <%= rubygems %> and <%= rubygems_org %>.
</p>

<p>
  The Ruby Together board of directors consists of
  <%= link_to "André Arko", "http://twitter.com/indirect" %>,
  <%= link_to "Aaron Patterson", "http://twitter.com/tenderlove" %>,
  <%= link_to "Steve Klabnik", "http://twitter.com/steveklabnik" %>,
  <%= link_to "Sarah Mei", "http://twitter.com/sarahmei" %>,
  <%= link_to "Terence Lee", "http://twitter.com/hone02" %>,
  <%= link_to "Ines Sombra", "http://twitter.com/randommood" %>,
  and <%= link_to "Joel Watson", "http://twitter.com/watsonian" %>.
</p>