<%- title "Ruby Together Team" -%>

<section class="group">
  <p>Ruby Together funds up to 5 hours per week of ongoing work by a development team consisting of:</p>

  <ul>
    <li><%= link_to "André Arko", "http://twitter.com/indirect" %>, who maintains and develops <%= bundler %>, as well as contributing to <%= rubygems %> and <%= rubygems_org %>.</li>
    <li><%= link_to "Ellen Marie Dash", "http://twitter.com/duckinator" %>, who maintains the <%= link_to "how_is", "https://github.com/how-is/how_is" %> reporting tool, as well as the <%= rubygems %> library and the <code>gem</code> command.</li>
    <li><%= link_to "Samuel E. Giddins", "http://twitter.com/segiddins" %>, who maintains <%= link_to "Molinillo", "https://github.com/CocoaPods/Molinillo" %>, the dependency resolver used by <%= bundler %>, <%= rubygems %>, and <%= link_to "CocoaPods", "https://cocoapods.org" %>, and contributes to each of those projects.</li>
    <li><%= link_to "Stephanie Morillo", "https://github.com/rubymorillo" %>, who writes, copywrites, and edits the <%= bundler %> and <%= rubygems %> documentation.</li>
    <li><%= link_to "David Radcliffe", "http://twitter.com/dwradcliffe" %>, who maintains and develops <%= rubygems_org %>, as well as the servers that run it.</li>
    <li><%= link_to "Jonathan Claudius", "https://twitter.com/claudijd" %>, who helps secure <%= rubygems %> and <%= rubygems_org %>.</li>
    <li><%= link_to "Christoph Olszowka", "https://twitter.com/thedeadserious" %>, who is building <%= link_to "The Ruby Toolbox 2.0", "https://beta.ruby-toolbox.com" %>.</li>
    <li><%= link_to "Kerri Miller", "https://twitter.com/kerrizor" %>, who is making the lives of <%= rubygems %> and <%= rubygems_org %> users better, one issue at a time.</li>
    <li><%= link_to "Luis Sagastume", "https://twitter.com/bronzdoc" %>, who is helping maintain and improve <%= rubygems %> and <%= gemstash %>.</li>
    <li><%= link_to "Aditya Prakash", "https://twitter.com/sonalkr132" %>, who also works to keep <%= rubygems_org %> up, improving the codebase and managing the servers.</li>
  </ul>

  <p>Developer team alumni include:</p>
  <ul>
    <li><%= link_to "Kurtis Rainbolt-Green", "http://twitter.com/krainboltgreene" %></li>
    <li><%= link_to "Jeremy Hinegardner", "http://twitter.com/copiousfreetime" %></li>
    <li><%= link_to "Amy Wibowo", "http://twitter.com/sailorhg" %></li>
    <li><%= link_to "Lynn Cyrin", "http://twitter.com/lynncyrin" %></li>
    <li><%= link_to "Liz Abinante", "http://twitter.com/feministy" %></li>
    <li><%= link_to "Patricia Arbona", "https://twitter.com/patricia_arbona" %></li>
  </ul>

</section>

<section class="group">
  <p>The Ruby Together board of directors is made up entirely of volunteers. The board currently includes:</p>

  <ul>
    <li><%= link_to "André Arko", "http://twitter.com/indirect" %> from <%= link_to "Cloud City", "http://cloudcity.io" %></li>
    <li><%= link_to "Coraline Ada Ehmke", "http://twitter.com/coralineada" %> from <%= link_to "Stitch Fix", "http://stitchfix.com" %></li>
    <li><%= link_to "Valerie Woolard Srinivasan", "http://twitter.com/valeriewoolard" %> from <%= link_to "Panoply", "https://www.panoply.fm" %></li>
    <li><%= link_to "Allison Sheren McMillan", "http://twitter.com/allie_p" %> from <%= link_to "GitHub", "https://github.com" %></li>
    <li><%= link_to "Courteney Ervin", "https://twitter.com/courteneyervin" %> from <%= link_to "Teachers Pay Teachers", "http://teacherspayteachers.com" %></li>
    <li><%= link_to "Adarsh Pandit", "https://twitter.com/adarshp" %> from <%= link_to "Cylinder Digital", "http://cylinder.digital" %></li>
    <li><%= link_to "Jonan Scheffler", "https://twitter.com/thejonanshow" %> from <%= link_to "Heroku", "http://heroku.com" %></li>
  </ul>

  <p>Board alumni include:</p>
  <ul>
    <li><%= link_to "Aaron Patterson", "http://twitter.com/tenderlove" %></li>
    <li><%= link_to "Ines Sombra", "http://twitter.com/randommood" %></li>
    <li><%= link_to "Camille Baldock", "https://twitter.com/camille_" %></li>
    <li><%= link_to "Steve Klabnik", "http://twitter.com/steveklabnik" %></li>
    <li><%= link_to "Sarah Mei", "http://twitter.com/sarahmei" %></li>
    <li><%= link_to "Terence Lee", "http://twitter.com/hone02" %></li>
    <li><%= link_to "Joel Watson", "http://twitter.com/watsonian" %></li>
  </ul>
</section>

<section class="group">
  <p>Ruby Together relies on its own team to enable and evangelize our non-profit work. That team includes:</p>

  <ul>
    <li><%= link_to "André Arko", "http://twitter.com/indirect" %>, executive directing</li>
    <li><%= link_to "Mandy Moore", "http://twitter.com/therubyrep" %>, executive administrating</li>
    <li><%= link_to "PJ Hagerty", "http://twitter.com/aspleenic" %>, developer evangelising</li>
  </ul>

  <p>Team alumni include:</p>
  <ul>
    <li><%= link_to "Rachel Keranen", "http://rachelkeranen.com" %>, copywriting and content strategy</li>
    <li><%= link_to "Phillip Arndt", "http://twitter.com/parndt" %>, webdev and sales outreach</li>
    <li><%= link_to "Amy Wibowo", "http://twitter.com/sailorhg" %>, design and branding</li>
    <li><%= link_to "Carina C. Zona", "http://twitter.com/cczona" %>, developer evangelising</li>
  </ul>

</section>
