<%- title "Ruby Together Team" -%>

<section class="group">
  <p>Ruby Together funds ongoing work by a team that consists of:</p>

  <ul>
    <li><%= link_to "André Arko", "http://twitter.com/indirect" %>, who maintains and develops <%= bundler %>, as well as contributing to <%= rubygems %> and <%= rubygems_org %></li>
    <li><%= link_to "David Radcliffe", "http://twitter.com/dwradcliffe" %>, who maintains the servers and develops the application behind <%= rubygems_org %></li>
  </ul>
</section>

<section class="group">
  <p>The Ruby Together board of directors is made up entirely of volunteers. The board currently includes:</p>

  <ul>
    <li><%= link_to "André Arko", "http://twitter.com/indirect" %></li>
    <li><%= link_to "Steve Klabnik", "http://twitter.com/steveklabnik" %></li>
    <li><%= link_to "Sarah Mei", "http://twitter.com/sarahmei" %></li>
    <li><%= link_to "Terence Lee", "http://twitter.com/hone02" %></li>
    <li><%= link_to "Ines Sombra", "http://twitter.com/randommood" %></li>
    <li><%= link_to "Joel Watson", "http://twitter.com/watsonian" %></li>
    <li><%= link_to "Coraline Ada Ehmke", "http://twitter.com/coralineada" %></li>
  </ul>
  
  <p>
    <%= link_to "Aaron Patterson", "http://twitter.com/tenderlove" %> was a founding board member.
  </p>
</section>

<section class="group">
  <p>Branding and site design are by <%= link_to "Amy Wibowo", "http://sailorhg.com" %>.</p>
  <p><%= link_to "Rachel Keranen", "http://rachelkeranen.com" %> provides copywriting and content strategy.</p>
</section>
