<nav class="site-nav">
  <ul>
    <li><%= link_to "roadmap", roadmap_path %></li>
    <li><%= link_to "news", news_index_path %></li>
    <li><%= link_to "team", team_path %></li>
    <li><%= link_to "members", members_path %></li>
    <li><%= link_to "store", "https://teespring.com/ruby-together" %></li>
    <li><%= link_to "faq", companies_path(anchor: "faq") %></li>
    <li><%= contact_us iconic_tag("envelope-closed-sm") %></li>
    <li><%= link_to iconic_tag("social-twitter-sm"), "https://twitter.com/rubytogether" %></li>
    <li><%= link_to iconic_tag("social-github-sm"), "https://github.com/rubytogether" %></li>
  </ul>
</nav>
