<!DOCTYPE html>
<html>
<head>
  <%= title_tag %>
  <meta name="viewport" content="width=500">
  <link href="/news.xml" rel="alternate" title="Ruby Together News" type="application/atom+xml">
  <%= render "favicons" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stripe_meta_tag %>
</head>
<body>
  <header>
    <%- if content_for?(:header) -%>
      <%= content_for :header %>
    <%- else -%>
      <%= link_to image_tag("rubies.png", width: "200"), "/" %>
      <%= content_tag :h2, title || "Ruby Together" %>
    <%- end -%>
  </header>
  <%= render partial: "flashes" %>

  <section class="content">
    <%= yield %>
  </section>

  <footer>
    <%- if content_for?(:footer) -%>
      <%= content_for(:footer) %>
    <%- else -%>
      <section>
        <form action="https://www.getdrip.com/forms/6239290/submissions" method="post" target="_blank" data-drip-embedded-form="6239290">
          <p data-drip-attribute="description">
            Stay posted on Ruby Together news and progress!
          </p>
          <div class="inline-field">
            <label for="fields[email]">Email</label>
            <input type="email" name="fields[email]" value="" />
          </div>
          <div class="inline-actions">
            <input type="submit" name="submit" value="Sign Up" data-drip-attribute="sign-up-button" />
          </div>
          <div style="clear: both;"></div>
        </form>
      </section>
    <%- end -%>
    <nav>
      <ul>
        <li><%= link_to "news", news_index_path %></li>
        <li><%= link_to "team", team_path %></li>
        <li><%= link_to "members", members_path %></li>
        <li><%= link_to "join", join_path %></li>
        <li><%= link_to "https://twitter.com/rubytogether" do %>
          <img class="iconic" data-src="iconic/social-twitter-sm.svg">
        <% end %></li>
        <li><%= link_to "https://github.com.com/rubytogether" do %>
          <img class="iconic" data-src="iconic/social-github-sm.svg">
        <% end %></li>
        <li><%= contact_us do %>
          <img class="iconic" data-src="iconic/envelope-closed-sm.svg">
        <% end %></li>
      </ul>
    </nav>
  </footer>

  <%= content_for(:script) if content_for?(:script) %>
  <%= render "google_analytics" if Rails.env.production? %>
</body>
</html>
