<!DOCTYPE html>
<html>
<head>
  <%= title_tag %>
  <meta name="viewport" content="width=500">
  <link href="/news.xml" rel="alternate" title="Ruby Together News" type="application/atom+xml">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "https://checkout.stripe.com/checkout.js", async: true %>
  <%= javascript_include_tag "application", defer: true %>
  <%= render "favicons" %>
  <%= stripe_meta_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <section style="clear: both;">
      <%= link_to image_tag("rubies.svg", width: "200"), "/" %>
      <%= content_tag :h1, title || "Ruby Together" %>
    </section>
  </header>
  <%= render partial: "flashes" %>

  <section class="content">
    <%= yield %>
  </section>

  <footer>
    <%= render "footer" %>
  </footer>

  <img class="spinner" src="/images/rubies.svg" width="100" style="display: none;">
  <%= stylesheet_link_tag "campton", media: "all" %>
  <%= content_for(:script) if content_for?(:script) %>
  <%= render "google_analytics" if Rails.env.production? %>
  <%= render "intercom" %>
  <%= render "drip" %>
</body>
</html>
