<!DOCTYPE html>
<html>
<head>
  <title>Ruby Together</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%- if content_for?(:header) -%>
      <%= content_for :header %>
    <%- else -%>
      <%= image_tag("rubies.png", width: "300", class: "home") %>
      <h1>Ruby Together</h1>
    <%- end -%>
  </header>

  <section class="content">
    <%- content_tag :section, class: "flash" do %>
      <%= content_tag :p, notice, class: "notice" if notice %>
      <%= content_tag :p, alert, class: "alert" if alert %>
    <%- end if notice || alert -%>

    <%= yield %>
  </section>

  <%= content_tag :footer, content_for(:footer) if content_for?(:footer) %>
</body>
</html>
