<!DOCTYPE html>
<html>
<head>
  <%= title_tag %>
  <meta name="viewport" content="width=500">
  <link href="/news.xml" rel="alternate" title="Ruby Together News" type="application/atom+xml">
  <%= render "favicons" %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
  <%= stripe_meta_tag %>
</head>
<body>
  <header>
    <section style="float: left">
      <%= link_to image_tag("rubies.png", width: "25") + " Ruby Together" %>
    </section>
    <section style="clear: both;">
      <%- if content_for?(:header) -%>
        <%= content_for :header %>
      <%- else -%>
          <%= link_to image_tag("rubies.png", width: "200"), "/" %>
          <%= content_tag :h2, title || "Ruby Together" %>
      <%- end -%>
    </section>
  </header>
  <%= render partial: "flashes" %>

  <section class="content">
    <%= yield %>
  </section>

  <footer>
    <%= content_for?(:footer) ? content_for(:footer) : render("newsletter_form") %>
    <%= render "nav" %>
  </footer>

  <img class="spinner" src="/images/rubies.png" width="100" style="display: none;">
  <%= javascript_include_tag "https://checkout.stripe.com/checkout.js" %>
  <%= javascript_include_tag "application" %>
  <%= content_for(:script) if content_for?(:script) %>
  <%= render "google_analytics" if Rails.env.production? %>
</body>
</html>
