<!DOCTYPE html>
<html>
<head>
  <title>Ruby Together</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= content_for :head if content_for?(:head) %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%- if content_for?(:header) -%>
      <%= content_for :header %>
    <%- else -%>
      <%= link_to image_tag("rubies.png", width: "200"), "/" %>
      <%= content_tag :h2, title || "Ruby Together" %>
    <%- end -%>
  </header>

  <section class="content">
    <%- content_tag :section, class: "flash" do %>
      <%= content_tag :p, notice, class: "notice" if notice %>
      <%= content_tag :p, alert, class: "alert" if alert %>
    <%- end if notice || alert -%>

    <%= yield %>
  </section>

  <%= content_for(:script) if content_for?(:script) %>
</body>
</html>
