<!DOCTYPE html>
<html>
<head>
  <%= title_tag %>
  <meta name="viewport" content="width=500">
  <link href="/news.xml" rel="alternate" title="Ruby Together News" type="application/atom+xml">
  <%= render "favicons" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stripe_meta_tag %>
</head>
<body>
  <header>
    <%- if content_for?(:header) -%>
      <%= content_for :header %>
    <%- else -%>
      <%= link_to image_tag("rubies.png", width: "200"), "/" %>
      <%= content_tag :h2, title || "Ruby Together" %>
    <%- end -%>
  </header>
  <%= render partial: "flashes" %>

  <section class="content">
    <%= yield %>
  </section>

  <footer>
    <ul>
      <li><%= link_to "news", news_index_path %></li>
      <li><%= link_to "team", team_path %></li>
      <li><%= link_to "members", members_path %></li>
      <li><%= link_to "join", join_path %></li>
      <li><%= contact_us("contact") %></li>
    </ul>
  </footer>
  <%= content_for(:script) if content_for?(:script) %>
  <%= render "google_analytics" if Rails.env.production? %>
</body>
</html>
