<!DOCTYPE html>
<html>
<head>
  <title>Ruby Together</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stripe_meta_tag %>
</head>
<body>
  <header>
    <%- if content_for?(:header) -%>
      <%= content_for :header %>
    <%- else -%>
      <%= link_to image_tag("rubies.png", width: "200"), "/" %>
      <%= content_tag :h2, title || "Ruby Together" %>
    <%- end -%>
  </header>
  <%= render partial: "flashes" %>

  <section class="content">
    <%= yield %>
  </section>

  <%= content_for(:script) if content_for?(:script) %>
</body>
</html>
