<!DOCTYPE html>
<html>
<head>
  <title>Ruby Together</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%- if content_for?(:header) -%>
      <%= content_for :header %>
    <%- else -%>
      <%= link_to image_tag("rubies.png", width: "200"), "/" %>
      <%= content_tag :h2, title || "Ruby Together" %>
    <%- end -%>
  </header>

  <section class="flash">
    <%= content_tag :p, flash.notice, class: "flash notice" if flash.notice %>
    <%= content_tag :p, class: "flash alert" do %>
      <%= flash.alert %> If you need help, please <%= contact_link "contact us" %>.
    <% end if flash.alert %>
  </section>

  <section class="content">
    <%= yield %>
  </section>

  <%= content_for(:script) if content_for?(:script) %>
</body>
</html>
